
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #09353E;
  text-decoration: none;
}

a:hover {
  color: #71B8E6;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Proza Libre', sans-serif;
}

p {
  margin-bottom:.5rem;
}

/*---------
-----------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #71B8E6;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #09353E;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 10px 0;
  box-shadow: 0px 2px 15px rgba(36, 50, 93, 0.06);
}

#header .logo{
  font-size: 35px;
  color: #09353E;
  font-family: 'Proza Libre', sans-serif;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.5px;
}

#header .logo img {
  max-height: 95px;
  padding-right: 10px;
}

@media (max-width: 991px) {
  #header .logo{
    font-size: 20px;
  }

  #header .logo img {
    max-height: 75px;
    padding-right: 10px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: 'Proza Libre', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #09353E;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #71B8E6
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  font-weight: 500;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #006fbe;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #24325d;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(22, 30, 56, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #24325d;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #006fbe;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #006fbe;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  height: 80vh;
  overflow: hidden;
}

#hero img {
  width: 100%;
}

#hero .btn-get-started {
  font-family: 'Proza Libre', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 32px;
  border-radius: 4px;
  transition: 0.5s;
  line-height: 1;
  color: #fff;
  animation-delay: 0.8s;
  background: #09353E;
}

#hero .btn-get-started:hover {
  background: #09353E;
}

@media (max-width: 992px) {
  #hero {
    height: 100vh;
  }

  #hero .carousel-container {
    top: 8px;
  }
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {

  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }

  #header .container {
    max-width: 1220px;
  }
}

@media (min-width: 1200px) {

  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 8%;
  }

  #header .container {
    max-width: 95%;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 25px 0;
}

section .container {
  border-bottom:5px #09353E;
}

.section-bg {
  background-color: #b4e0ff;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #71B8E6;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# HOME
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li+li {
  margin-top: 10px;
}

.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #006fbe;
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .content .btn-learn-more {
  font-family: 'Proza Libre', sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 5px;
  transition: 0.3s;
  line-height: 1;
  color: #09353E;
  animation-delay: 0.8s;
  margin-top: 6px;
  border: 2px solid #09353E;
}

#about a.btn {
  color: #ffffff;
  transition: 0.3s;
  animation-delay: 0.8s;
  padding:8px;
  border: 2px solid #09353E;
  border-radius: 5px;
  background-color: #09353E;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

#about a.btn:hover{
  color: #09353E;
  border: 2px solid #09353E;
  background-color: #ffffff;
}

.about .content .btn-learn-more:hover {
  background: #09353E;
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #f5f7fb;
  min-height: 40px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 58px;
  }
}

.breadcrumbs h2 {
  font-size: 28px;
  margin-bottom: 0;
  font-weight: 300;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #324682;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact-us .info {
  width: 100%;
  background: #fff;
}

.contact-us .info i {
  font-size: 20px;
  color: #006fbe;
  float: left;
  width: 44px;
  height: 44px;
  background: #e7f5ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact-us .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #24325d;
}

.contact-us .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #405aa7;
}

.contact-us .info .email,
.contact-us .info .phone {
  margin-top: 40px;
}

.contact-us .info .email:hover i,
.contact-us .info .address:hover i,
.contact-us .info .phone:hover i {
  background: #09353E;
  color: #fff;
}

.contact-us .php-email-form {
  width: 100%;
  background: #fff;
}

.contact-us .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact-us .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact-us .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact-us .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact-us .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact-us .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact-us .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact-us .php-email-form input,
.contact-us .php-email-form textarea {
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact-us .php-email-form input:focus,
.contact-us .php-email-form textarea:focus {
  border-color: #006fbe;
}

.contact-us .php-email-form input {
  height: 44px;
}

.contact-us .php-email-form textarea {
  padding: 10px 12px;
}

.contact-us .php-email-form button[type=submit] {
  background: #09353E;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact-us .php-email-form button[type=submit]:hover {
  background: #007ed8;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Generic Cards
--------------------------------------------------------------*/

.row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.card {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  border-radius: 0px;
  height: 100%;
  margin-bottom: 15px;
}

.card-header {
  background-color: #ffffff;
  border:none;
  padding: 15px 15px 0px 15px;
}

.card-header h2{
  font-size: 25px;
  color: #09353E;
}

.card-header img {
  width: 100%;
}

.card-body {
  background-color: #ffffff;
  border:none;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
}

.card-body img{
  margin:auto;
  max-height: 200px;
}

.card-body p{
  margin:auto;
}

.card-footer {
  background-color: #ffffff;
  border:none;
}

.card-footer p{
  padding-top:5px;
}

/* card button (not in text) */
.card .btn {
  color: #ffffff;
  transition: 0.3s;
  animation-delay: 0.8s;
  padding:8px;
  border: 2px solid #09353E;
  border-radius: 0px;
  background-color: #09353E;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.card .btn:hover{
  color: #09353E;
  border: 2px solid #09353E;
  background-color: #ffffff;
}

/* buttons in text */
a.btn-sm {
  color: #ffffff;
  transition: 0.3s;
  animation-delay: 0.8s;
  margin-top:10px;
  padding:5px;
  border: 2px solid #09353E;
  border-radius: 0px;
  background-color: #09353E;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

a.btn-sm:hover{
  color: #09353E;
  border: 2px solid #09353E;
  background-color: #ffffff;
}

a.text-link {
  color: #71B8E6;
}

a.text-link:hover {
  color: #09353E;
  text-decoration: underline;
}

.embedded-video {
  width:100%;
  min-height: 600px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #71B8E6;
  color: #09353E;
  font-size: 14px;
  text-align: left;
  padding: 30px 0;
}

#footer .container{
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

#footer .container-left {
  align-self: center;
}

#footer .container-right  {
  width: 150px; /* Set the width of the container as needed */
  height: auto; /* Maintain the aspect ratio */
  
  overflow: hidden; /* Hide any overflowing content */
}

#footer .container-right .img-logo {
  width: 100%; /* Make the image fill the container width */
  height: auto; /* Maintain the aspect ratio of the image */
  display: block; /* Remove any extra space below the image */
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  color: #09353E;
  position: relative;
  font-family: 'Proza Libre', sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 10px 0;
}

#footer .social-links a {
  font-size: 40px;
  display: inline-block;
  background: #71B8E6;
  color: #09353E;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  transition: 0.3s;
}

#footer .copyright {
  margin: 0 0 5px 0;
  color: #09353E;
}

#footer .credits {
  font-size: 13px;
}

#footer .credits a {
  color: #09353E;
  transition: 0.3s;
}

#footer .credits a:hover {
  color: #09353E;
}

/*--------------------------------------------------------------
# Event Card
--------------------------------------------------------------*/

.event_card {
  margin: 1%;
  background-color: rgb(236, 236, 236);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px; 
}

.event_card img {
  width: 100%;

}

.event_card h2 {
  font-size: 25px;
  color: #000000;
  text-align: center;
  margin: 15px;
}

.event_card h3 {
  font-size: 15px;
  color: #000000;
  text-align: center;
  margin: 15px;
}

.event_card p {
  margin: 0px 15px 15px 15px;
}

.event_card button {
  color: #ffffff;
  transition: 0.3s;
  animation-delay: 0.8s;
  font-style: oblique;
  padding:5px;
  border: 2px solid #71B8E6;
  background-color: #71B8E6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  margin-left: 15px;
  margin-bottom: 25px;
  
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

.event_card button:hover{
  color: #71B8E6;
  border: 2px solid #71B8E6;
  background-color: #ffffff;
}

/* FAQ Table */

td, tr {
  background-color: #71B8E6;
}